[user]
	Name = Matthías Páll Gissurarson
	email = mpg@mpg.is
[push]
	default = simple
[mergetool]
	prompt = false
[merge]
	conflictstyle = diff3
	tool = gvimdiff
	summary = true
[core]
	excludesfile = /home/tritlo/.gitignore_global
[gui]
	fontui = -family \"Droid Sans Mono\" -size -12 -weight normal -slant roman -underline 0 -overstrike 0
    fontdiff = -family \"Droid Sans Mono\" -size -12 -weight normal -slant roman -underline 0 -overstrike 0
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[init]
	templatedir = ~/.git_template
